.jumbotron {
  background-color: #bdf2df;
  padding-top: 6rem;
}

#gallery {
  background-color: #d6e9f8;
}

a:hover {
  transform: scale(5px);
  transition: 0.5s;
}

img {
  background-image: url("/img/Unsplash/profile.jpg");
}

h1 {
  font-family: Serif;
}

.toska {
  background-color: #08ffa4;
}

nav {
  font-family: Serif;
}