.jumbotron {
  background-color: #bdf2df;
  padding-top: 6rem;
  Text-shadow: 0.5px 0.5px 0.1px whitesmoke;
}

#gallery {
  background-color: #bdf2df;
}

a:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

img {
  background-image: url("/img/Unsplash/profile.jpg");
}

h1 {
  font-family: Serif;
}

.toska {
  background-color: #08ffa4;
}

nav {
  font-family: Serif;
  Text-shadow: 0.5px 0.5px 0.1px black;
}