.jumbotron {
  background-color: #bdf2df;
  padding-top: 6rem;
  text-shadow: 0.5px 0.5px 0.1px whitesmoke;
}

#gallery {
  background-color: #bdf2df;
}

a:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

img {
  background-image: url("/img/Unsplash/profile.jpg");
}

.toska {
  background-color: #08ffa4;
}

nav {
  font-family: Serif;
  text-shadow: 0.5px 0.5px 0.1px black, 1.1px 1.2px 0.5px white;
}

h3,
h2,
h1 {
  text-shadow: 0.8px 0.8px 0.2px whitesmoke, 1.1px 1.2px 0.5px black;
  font-family: Serif;
}

.text-warning a {
  text-shadow: 0, 9px 0, 9px 0, 5px black;
  text-decoration: none;
}

td {
  padding: 2rem;
  text-decoration: bold;
}

#bgkuning {
  background-image: linear-gradient(rgb(12, 235, 235), rgb(208, 255, 0), rgb(228, 39, 6), rgb(128, 17, 231), rgb(17, 231, 88));
}

.table-primary {
  position: sticky;
}
